.container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
}

.container > * {
  margin-left: 30px;
}

.column {
  display: flex;
  flex-direction: column;
}

.fixed {
  flex-grow: 0;
}

.stretch {
  flex-grow: 1;
  overflow-y: auto;
}
